.settings-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkbox-group {
    margin: 10px;
}

.checkbox-group input[type="checkbox"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.checkbox-group label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.checkbox-group label:hover {
    background-color: #dfd;
}

.checkbox-group input[type="checkbox"]:focus + label {
    border: 2px dashed #444;
}

.checkbox-group input[type="checkbox"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}
